body,html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(91, 223, 109);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#calc{
    background-color: greenyellow;
    width: 400px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: "display display display display"
                         "ac ce percent divide"
                         "seven eight nine multiply"
                         "four five six minus"
                         "one two three plus"
                         "zero decimal equals plus";
    gap: 5px;
    border: solid 1px;
    box-shadow: -5px 8px 5px rgb(5, 168, 27);
    padding: 5px;
}  




.btn{
    background-color: rgb(128,246,70);
    border: solid 1px;
    box-shadow: -1px 2px 3px rgb(2, 134, 19);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Shadows Into Light','Permanent Marker', 'Syne Tactile';
    cursor: pointer;
}                      
.btn:hover{
    transform: scale(2);
    transition: all 0.2s;
}
.left{
    transform: rotate(1deg);
}
.left:hover{
    transform: rotate(-3deg) scale(1.09);
}
.left:active{
    transform: rotate(3deg);
    
}
.right{
    transform: rotate(-1deg);
}
.right:hover{
    transform: rotate(3deg) scale(1.09);
}
.right:active{
    transform: rotate(-3deg);
    
}
.op:hover{
    background-color: rgb(81, 126, 223);
}
.del:hover{
    background-color: rgb(212, 64, 64);
}
.num:hover{
    background-color: rgb(212, 142, 50);
}





#display{
    grid-area:display;
    background-color: rgb(134, 231, 85);
    border: solid 1px;
    box-shadow: -2px 2px 3px rgb(2, 134, 19);
}
#ac{
    grid-area: ac;
}
#ce{
    grid-area: ce;
}
#percent{
    grid-area: percent;
}
#divide{
    grid-area: divide;
}
#seven{
    grid-area: seven;
}
#eight{
    grid-area: eight;
}
#nine{
    grid-area: nine;
}
#multiply{
    grid-area: multiply;
}
#four{
    grid-area: four;
}
#five{
    grid-area: five;
}
#six{
    grid-area:six;
}
#minus{
    grid-area: minus;
}
#three{
    grid-area: three;
}
#two{
    grid-area: two;
}
#one{
    grid-area: one;
}
#add{
    grid-area: plus;
}
#zero{
    grid-area: zero;
}
#decimal{
    grid-area: decimal;
}
#equals{
    grid-area: equals;
}