html,body{
    padding: 0;
    margin: 0;
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
header{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    margin-top: 50px;
}
main{
    flex:6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gameGrid{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 25px;
}
.square{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.middle{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.right-side{
    border-bottom:1px solid black;
}
.left-side-bottom{
    border-right: 1px solid black;;
}
.right-side-bottom{
    border-left: 1px solid black;
}

footer{
    margin-top: 75px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#player1,#player2{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#startStop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.startScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
}
.top{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.bottom{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submitBtn,.choice,#start{
    margin: 25px;
    width: 150px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start{
    width: 200px;
    height: 50px;
}
.choice{
    height: 150px;
    margin: 0px;
}
.submitBtn:active,.choice:active{
    transform: scale(0.9);
}
.nameInput{
    width: 200px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}
.nameInput:focus{
    background-color:rgb(219, 217, 217);
    outline: none;
}
.form,.btnLayout{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnLayout{
    flex-direction: row;
}
#player{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.gameControl{
    margin-bottom: 10px;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
}
.gameControl:active{
    transform: scale(0.9);
}
.banner{
    height: 50px;
}