html,body{
    margin: 0;
    padding: 0;
}
#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: wheat;
}
header{
    flex:1;
    min-height: 100px;
    max-height: 150px;
    background-color: brown;
    display: flex;
}
main{
    flex: 1;
    background-color: olive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#grid {
    background-color: white;
    min-width: 500px;
    max-width: 90%;
    width: calc(300px + 75vw);
    height: 700px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-direction: column-reverse;
    align-items: flex-start;
    overflow: auto;
    column-gap: 10px;
    row-gap: 5px;


}
.cards{
    margin-left: 10px;
    width: 230px;
    height: 230px;
    background-color: #EF4444;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 5px 5px #5a1313;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.deleteBtn{
    display: flex;
    width: 50px;
    height: 25px;
    background-color: red;
}
.openBtn {
    display: flex;
    justify-content: left;
    box-sizing: border-box;
}
.openButton {
    border: none;
    border-radius: 5px;
    background-color: #1c87c9;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
}

.loginPopup {
    position: fixed;
    text-align: center;
    box-sizing: border-box;
    
}
.formPopup {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    box-sizing: border-box;
}
.formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    box-sizing: border-box;
}
.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0 0;
    border: none;
    background: #eee;
    box-sizing: border-box;
}
.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    box-sizing: border-box;
}
.formContainer .btn {
padding: 12px 20px;
border: none;
background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
    box-sizing: border-box;
}
.formContainer .cancel {
    background-color: #cc0000;
    box-sizing: border-box;
}
.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
    box-sizing: border-box;
}
.inputF{
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: space-evenly;
}

.popup { display: none; }
.popup.open { display: block; }.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
}
.popup .contents {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}